@import "general";
.sec-title,
.sec-top p,
.banner-text h1,
.banner-text .h1,
.text-block--info .page-content p,
.m-news__item h3,
.m-news__item .h3,
.cta-block__text p,
.geo-map__text p,
.geo-map__links a,
.stat__value,
.del-p h3,
.del-p h4,
.del-p h4,
.del-p .h4,
.category__desc {
    font-family: "Circe Bold";
    font-weight: 700;
}
.instock {
    .slick-slide {
        height: auto;
    }
    .slick-list {
        overflow: hidden;
    }
}
.recom {
    &-bottom {
        text-align: center;
    }
    @media screen and (max-width: 991px) {
        margin-bottom: 50px;
        &-bottom {
            width: calc(100% - 30px);
            margin-left: 15px;
            margin-right: 15px;
            text-align: right;
        }
    }
}
.category__desc {
    font-size: 18px;
    line-height: 1.3;
    max-width: 504px;
    margin-bottom: 50px;
}
.cat-filter {
    margin-bottom: 30px;
    &.show-reset .catFilter-reset {
        display: inline-flex;
    }
    &__form {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 0 16px;
        margin: 0;
    }
    &__items {
        flex: 1 1 auto;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 16px;
    }
    @media (min-width: 667.98px) {
        .modal,
        .modal__overlay {
            height: auto;
            max-height: none;
            position: static;
            display: block !important;
            overflow: visible;
        }
        .modal__overlay {
            padding: 0;
            background: none;
        }
        .modal__content {
            padding: 0;
            margin: 0;
        }
        .modal__top,
        .js-modal-close {
            display: none;
        }
    }
    @media (max-width: 667.98px) {
        .modal .catFilter-reset {
            font-family: "Circe Bold";
            font-size: 18px;
            font-weight: 700;
            width: 100%;
            justify-content: center;
            text-decoration: underline;
            margin-top: 20px;
        }
        &__form {
            flex-wrap: wrap;
        }
        &__items {
            display: block;
            .dropdown {
                max-width: 100%;
                border-bottom: 1px solid #e4e4e4;
                &:has(input:checked:not([value="all"])) .dropdown__header span {
                    &:after {
                        content: "";
                        display: inline-block;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background: #f13d3d;
                        margin-left: 5px;
                    }
                }
                &.open {
                    .dropdown__body {
                        max-height: 500px;
                        opacity: 1;
                    }
                }
                &__header {
                    padding: 11px 12px;
                }
                &__body {
                    width: 100%;
                    padding: 0;
                    border: none;
                    position: static;
                    opacity: 0;
                    max-height: 0;
                    transition: all 0.5s ease-out;
                    label {
                        span {
                            padding: 11px 24px;
                        }
                    }
                    .custom-scroll {
                        padding: 0;
                        max-height: none;
                    }
                }
            }
        }
    }
}
.catalog,
.instock {
    &__item {
        @media (min-width: 1079.98px) {
            &:nth-last-of-type(-n + 3) {
                margin-bottom: 0;
            }
        }
        @media (min-width: 575.98px) and (max-width: 1079px) {
            &:nth-last-of-type(-n + 2) {
                margin-bottom: 0;
            }
        }
    }
}
.catalog {
    &:has(.category__desc) {
        .category__title {
            margin-bottom: 20px;
        }
    }
    &__top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 0 16px;
        margin-bottom: 20px;
        h2,
        .h2 {
            margin-top: 0;
            align-content: center;
        }
        @media (max-width: 575.98px) {
            flex-direction: column;
        }
    }
    &__item,
    &-item {
        position: relative;
    }
    &__models {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        position: absolute;
        top: 12px;
        right: 12px;
        max-width: calc(100% - 24px);
        span {
            font-size: 14px;
            font-weight: 500;
            color: #242020;
            padding: 4px 16px;
            border-radius: 20px;
            background: #f6f6f6;
        }
    }
}
.catFilter-btn,
.catFilter-reset {
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    @media (min-width: 667.98px) {
        display: none !important;
    }
}
.catFilter-btn {
    line-height: 40px;
    display: inline-flex;
    &:before {
        content: "";
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        background: url(../img/icons/filter-icon.svg) center / contain no-repeat;
        margin-right: 5px;
    }
    span {
        margin-left: 5px;
        &:empty {
            &::after {
                display: none;
            }
        }
        &:after {
            content: "";
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #f13d3d;
            margin-left: 5px;
        }
    }
}
.catFilter-reset {
    color: #595f68;
    display: none;
    margin-top: 8px;
    .btn-cross {
        margin-left: 5px;
        &:before,
        &::after {
            background: #595f68;
        }
    }
}
.filter-selected {
    &__items {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 10px 24px;
        flex-wrap: wrap;
        margin-top: 16px;
        &:empty {
            margin: 0;
        }
        li {
            font-size: 14px;
            font-weight: 500;
            list-style: none;
            display: inline-flex;
            align-items: center;
            .btn-cross {
                margin-left: 10px;
                &:before,
                &::after {
                    background: #f13d3d;
                }
            }
            span {
                color: #f13d3d;
                margin-left: 5px;
            }
        }
    }
    @media (max-width: 667.98px) {
        display: none;
    }
}
.btn-cross {
    width: 16px;
    height: 16px;
    position: relative;
    &:after,
    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #242020;
        position: absolute;
        top: 50%;
        left: 0;
        transition: all 0.3s linear;
    }
    &:before {
        transform: translateY(-50%) rotate(45deg);
    }
    &:after {
        transform: translateY(-50%) rotate(-45deg);
    }
}
.product {
    &__row {
        min-width: 0;
        display: grid;
        grid-template-columns: 56% 1fr;
        gap: 0 30px;
        align-items: start;
        margin-left: 0;
        margin-right: 0;
    }
    &__left,
    &__right {
        width: 100%;
        min-width: 0;
        margin-left: 0;
        margin-right: 0;
    }
    &__title {
        margin-bottom: 8px;
    }
    &__left {
        @media (max-width: 991.98px) {
            margin-bottom: 20px;
        }
    }
    &__desc {
        p {
            font-size: 14px;
            font-weight: 500;
        }
    }
    &__table,
    &__btns,
    &__cost,
    &__link,
    &__stock,
    &__text {
        margin-left: 0;
    }
    &__cost,
    &__link,
    &__stock,
    &__text {
        margin-bottom: 10px;
    }
    &__links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 32px;
        a {
            color: #2b2f40;
            margin-bottom: 8px;
        }
        @media (max-width: 991.98px) {
            margin-bottom: 20px;
        }
    }
    &__table {
        width: 100%;
        tr {
            height: auto;
        }
        td {
            padding: 7px 12px;
        }
    }
    &__btns {
        margin-left: -5px;
        margin-right: -5px;
    }
    @media (min-width: 991.98px) {
        &__top {
            grid-column: 2/3;
            margin-bottom: 12px;
        }
        &__left {
            grid-area: 1/1/3/2;
        }
    }
    @media (max-width: 991.98px) {
        &__row {
            grid-template-columns: 1fr;
        }
        &__link {
            display: inline-block;
        }
    }
    @media (max-width: 575.98px) {
        &__price,
        &__chars {
            width: 100%;
            max-width: 100%;
        }
    }
}

.article__date {
    font-size: 14px;
    font-weight: 500;
    color: #00000080;
    margin-bottom: 20px;
}
.recom {
    &__content {
        padding: 0 15px;
    }
    &__name {
        font-size: 14px;
        font-weight: 700;
    }
    &__desc {
        font-family: Roboto;
        font-size: 14px;
        line-height: 1.2;
        color: #595f68;
        margin-bottom: 10px;
    }
    &__date {
        font-size: 12px;
        color: #afafaf;
    }
}
.banner__text {
    h1,
    .h1 {
        font-size: 55px;
        color: #fff;
        line-height: 1.1;
        padding: 0;
        text-shadow: 0 4px 8px rgba(52, 52, 52, 0.6);
        margin: 0 0 10px;
    }
    @media (max-width: 991.98px) {
        h1,
        .h1 {
            font-size: 42px;
        }
    }
    @media (max-width: 767.98px) {
        h1,
        .h1 {
            font-size: 26px;
            line-height: 36px;
        }
    }
    @media (max-width: 575.98px) {
        h1,
        .h1 {
            color: #242020;
            line-height: 32px;
            margin-bottom: 5px;
            text-shadow: none;
        }
    }
}
.info-block__content p,
.m-news__item h3,
.m-news__item .h3 {
    color: #242020;
}
.text-block {
    h1,
    h2,
    h3 {
        &:first-child {
            margin-top: 0;
        }
    }
    .page-content {
        max-width: 734px;
        p {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 16px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &--info .page-content {
        p,
        li {
            font-size: 20px;
        }
    }
    &__row {
        display: grid;
        grid-template-columns: 2.1fr 1fr;
        gap: 20px;
    }
    @media (max-width: 991.98px) {
        &__row {
            grid-template-columns: 1fr;
        }
    }
}
.m-news {
    padding: 0;
    &__item {
        h3,
        .h3 {
            font-size: 14px;
            line-height: 1.6;
            margin-bottom: 4px;
        }
        p {
            font-family: "Roboto";
            font-weight: 400;
            line-height: 1.2;
            color: #595f68;
        }
    }
}
.geo-map,
.cta-block {
    &__inner {
        background: #f6f6f6;
        border: 1px solid #e4e4e4;
        position: relative;
        z-index: 1;
    }
    &__content {
        padding: 60px 50px;
    }
    &__text {
        p {
            font-size: 18px;
            line-height: 1.3;
        }
        a {
            color: #242020;
            text-decoration: underline;
        }
    }
    @media (max-width: 1309.98px) {
        &__content {
            padding: 45px 35px;
        }
    }
    @media (max-width: 575.98px) {
        &__content {
            padding: 24px 19px;
        }
    }
}
.geo-map {
    .sec-top {
        margin-bottom: 30px;
    }
    &__inner {
        min-height: 527px;
    }
    &__content {
        max-width: 50%;
    }
    &__text {
        margin-bottom: 16px;
    }
    &__links {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        a {
            font-size: 14px;
            color: #242020;
            text-transform: uppercase;
            display: inline-flex;
            align-items: center;
            padding: 6px 15px;
            border-radius: 20px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            transition: all 0.3s linear;
            &:hover {
                color: #f13d3d;
                border-color: #f13d3d;
            }
            &:after {
                content: "";
                flex-shrink: 0;
                width: 16px;
                height: 16px;
                background: url(../img/icons/arr-next.svg) center / contain no-repeat;
                margin-left: 6px;
            }
        }
    }
    &__img {
        max-width: 56.01%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: right center;
        }
    }
    @media (max-width: 1309.98px) {
        &__inner {
            min-height: 482px;
        }
        &__content {
            max-width: 57%;
        }
        &__img {
            max-width: 49%;
        }
    }
    @media (max-width: 991.98px) {
        .sec-top {
            margin-bottom: 24px;
        }
        &__inner {
            min-height: 0;
        }
        &__content {
            max-width: 100%;
        }
        &__links {
            a {
                font-size: 12px;
                padding: 4px 7px;
            }
        }
        &__img {
            width: 100%;
            max-width: 650px;
            margin-left: auto;
            position: static;
            img {
                height: auto;
            }
        }
    }
    @media (max-width: 575.98px) {
        &__content {
            .main-btn {
                width: 100%;
            }
        }
    }
}
.cta-block {
    .sec-top {
        margin-bottom: 20px;
    }
    .sec-title {
        padding-bottom: 0;
        &::after {
            content: none;
        }
    }
    &__inner {
        min-height: 444px;
        display: grid;
        grid-template-columns: 50% 1fr;
        grid-template-rows: 1fr auto;
    }
    &__content {
        .main-btn {
            width: 100%;
        }
    }
    &__text {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__btns {
        display: flex;
        gap: 10px;
        .btn {
            flex: 1;
        }
    }
    &__info {
        grid-column: 1/3;
        padding: 0 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 0 12px;
        margin-bottom: 20px;
        @media (max-width: 1309.98px) {
            padding: 0 35px;
        }
        @media (max-width: 575.98px) {
            padding: 0 19px;
        }
    }
    &__img {
        grid-area: 1/2/2/3;
        width: calc(100% - 100px);
        height: calc(100% - 20px);
        position: relative;
        margin: auto;
        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-height: 100%;
            object-fit: contain;
            margin: auto;
        }
        @media (max-width: 1309px) {
            width: calc(100% - 70px);
        }
    }
    @media (max-width: 1309.98px) {
        &__inner {
            grid-template-columns: 57% 1fr;
        }
        &__text {
            margin-bottom: 24px;
        }
    }
    @media (max-width: 991.98px) {
        &__inner {
            display: block;
            min-height: 0;
        }
        &__btns {
            flex-direction: column;
        }
        &__img {
            width: calc(100% - 38px);
            max-width: 400px;
            height: auto;
            img {
                position: static;
            }
        }
    }
}
.info-cta {
    width: 240px;
    padding: 12px 0;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    gap: 12px;
    border-top: 1px solid #e4e4e4;
    p {
        align-self: center;
        margin: 0;
    }
    &__icon {
        width: 40px;
        height: 40px;
        padding: 10px;
        border-radius: 50%;
        background: #f13d3d1a;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    @media (max-width: 1309.98px) {
        width: 210px;
    }
    @media (max-width: 991.98px) {
        width: calc(50% - 16px);
        border-bottom: 1px solid #e4e4e4;
        margin-bottom: -1px;
    }
    @media (max-width: 575.98px) {
        width: 100%;
    }
}
.faq {
    .page-content p {
        max-width: 734px;
    }
    .accord {
        counter-reset: faq;
    }
    .accord__item {
        counter-increment: faq;
    }
    .accord__title {
        padding: 23px 30px;
        height: auto;
        span::before {
            content: counter(faq) ". ";
            margin-right: 5px;
        }
        @media (max-width: 575.98px) {
            padding: 16px;
        }
    }
}
.stat {
    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
    &__item {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 3px solid #f13d3d;
    }
    &__value {
        font-size: 60px;
    }
    &__label {
        font-size: 14px;
        font-weight: 500;
        margin-top: 4px;
    }
    @media (max-width: 991.98px) {
        &__items {
            grid-template-columns: 1fr 1fr;
        }
    }
    @media (max-width: 575.98px) {
        &__items {
            grid-template-columns: 1fr;
        }
    }
}
@import "delivery";
