<!-- advant-->
                <div class="advant">
                    <div class="container">
                        <div class="advant__row">
                            <div class="advant__col">
                                <div class="advant__item"><span>Прямые цены от завода</span>
                                    <div class="advant__img"><img src="img/icons/icon-advant-1.svg"></div>
                                </div>
                            </div>
                            <div class="advant__col">
                                <div class="advant__item"><span>Полное сопровождение сделки</span>
                                    <div class="advant__img"><img src="img/icons/icon-advant-2.svg"></div>
                                </div>
                            </div>
                            <div class="advant__col">
                                <div class="advant__item"><span>Дополнительный контроль качества изделий!</span>
                                    <div class="advant__img"><img src="img/icons/icon-advant-3.svg"></div>
                                </div>
                            </div>
                            <div class="advant__col">
                                <div class="advant__item"><span>21 год опыта в прицепостроении</span>
                                    <div class="advant__img"><img src="img/icons/icon-advant-4.svg"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>