<!-- footer-->
            <footer class="footer">
                <div class="container">
                    <div class="footer__row">
                        <div class="footer__logo">
                            <!-- logo-->
                            <div class="logo"><a href="index.html">
                                    <svg class="desctop">
                                        <use href="img/icons/sprite.svg#logo-black"></use>
                                    </svg>
                                    <svg class="mobile">
                                        <use href="img/icons/sprite.svg#logo-sm"></use>
                                    </svg></a></div>
                            <!-- end logo-->
                        </div>
                        <div class="footer__info">
                            <!-- h-info-->
                            <div class="h-info">
                                <div class="h-info__item">
                                    <svg>
                                        <use href="img/icons/sprite.svg#icon-plant"></use>
                                    </svg><span>Официальный дилер заводов производителей полуприцепов</span>
                                </div>
                                <div class="h-info__item">
                                    <svg>
                                        <use href="img/icons/sprite.svg#icon-marker"></use>
                                    </svg>
                                    <p><span>Город: <a class="city-select" href="#">Нижний Новгород</a></span><span>ул Вождей Революции, дом 28, помещ. 2</span></p>
                                    <ul class="city">

                                        <li><a href="//gruz-pricepy.ru">Нижний Новгород</a></li>
                                        <li><a href="//moscow.gruz-pricepy.ru">Москва</a></li>
                                        <li><a href="//spb.gruz-pricepy.ru">Санкт-Петербург</a></li>
                                        <li><a href="//novosib.gruz-pricepy.ru">Новосибирск</a></li>
                                        <li><a href="//ekb.gruz-pricepy.ru">Екатеринбург</a></li>
                                        <li><a href="//kazan.gruz-pricepy.ru">Казань</a></li>
                                        <li><a href="//chel.gruz-pricepy.ru">Челябинск</a></li>
                                        <li><a href="//omsk.gruz-pricepy.ru">Омск</a></li>
                                        <li><a href="//samara.gruz-pricepy.ru">Самара</a></li>
                                        <li><a href="//rostov.gruz-pricepy.ru">Ростов-на-Дону</a></li>
                                        <li><a href="//ufa.gruz-pricepy.ru">Уфа</a></li>
                                        <li><a href="//krasnoyarsk.gruz-pricepy.ru">Красноярск</a></li>
                                        <li><a href="//voronezh.gruz-pricepy.ru">Воронеж</a></li>
                                        <li><a href="//perm.gruz-pricepy.ru">Пермь</a></li>
                                        <li><a href="//volgograd.gruz-pricepy.ru">Волгоград</a></li>
                                        <li><a href="//krasnodar.gruz-pricepy.ru">Краснодар</a></li>
                                        <li><a href="//vologda.gruz-pricepy.ru">Вологда</a></li>
                                        <li><a href="//petrozavodsk.gruz-pricepy.ru">Петрозаводск</a></li>
                                        <li><a href="//archangelsk.gruz-pricepy.ru">Архангельск</a></li>
                                        <li><a href="//irkutsk.gruz-pricepy.ru">Иркутск</a></li>
                                        <li><a href="//tver.gruz-pricepy.ru">Тверь</a></li>
                                        <li><a href="//vladivostok.gruz-pricepy.ru">Владивосток</a></li>
                                        <li><a href="//kaliningrad.gruz-pricepy.ru">Калининград</a></li>
                                        <li><a href="//syktyvkar.gruz-pricepy.ru">Сыктывкар</a></li>
                                        <li><a href="//joshkar-ola.gruz-pricepy.ru">Йошкар-Ола</a></li>

                                    </ul>
                                </div>
                            </div>
                            <!-- end h-info-->
                        </div>
                        <div class="footer__phones">

                            <!-- h-phones-->
                            <div class="h-phones"><a class="h-phones__callback " href="zakazat-zvonok.html">Заказать звонок</a>
                                <div class="h-phones__right">
                                    <a class="h-phones__call" onclick="ym(56782339,'reachGoal','getcall'); return true;" href="tel:88003029003">
                                        <svg>
                                            <use href="img/icons/sprite.svg#icon-whatsapp"></use>
                                        </svg><span>8-800-302-9003</span>
                                    </a>
                                    <a class="h-phones__email" onclick="ym(56782339,'reachGoal','getemail'); return true;" href="mailto:info@gruz-pricepy.ru">
                                        <span>info@gruz-pricepy.ru</span>
                                    </a>
                                </div>
                            </div>
                            <!-- end h-phones-->

                        </div>
                    </div>
                    <!-- social-->
                    <ul class="social">
                        <li> <a href="http://wa.me/79116113423" target="_blank"> <img src="img/icons/icon-whatsapp.svg"></a></li>
                        <li> <a href="https://rutube.ru/channel/25310877/" target="_blank"> <img src="img/icons/icon-rutube.svg"></a></li>
                        <li> <a href="https://www.avito.ru/brands/gruz-pricepy" target="_blank"> <img src="img/icons/icon-avito-new.svg"></a></li>
                        <li> <a href="https://vk.com/gruzpricepy" target="_blank"> <img src="img/icons/icon-vk.svg"></a></li>
                        <li> <a href="https://t.me/gruz_pricepy" target="_blank"> <img src="img/icons/icon-tg.svg"></a></li>
                        <li> <a href="https://www.youtube.com/channel/UC8Zqtl47sZujKzctCIEF24g" target="_blank"><img src="img/icons/icon-yt.svg"></a></li>

                        <li> <a href="https://www.tiktok.com/@polupritsepy" target="_blank"><img src="img/icons/tiktok.svg"></a></li>
                    </ul>
                    <!-- end social-->
                    <ul class="privace">
                        <li><a href="soglashenie-ob-obrabotke-personalnyh-dannyh.html" target="_blank">Соглашение об обработке персональных данных</a></li>
                        <li><a href="politika-ispolzovaniya-cookies.html" target="_blank">Политика использования cookies</a></li>
                    </ul>
                </div>
            </footer>
            <!-- end footer-->

            <div class="omnilabel">
                <a href="https://omniagency.ru" target="_blank" class="omnilabel-link">
                    <div class="omnilabel-wrap">
                        <div class="omnilabel-txt">
                            Создание сайта OmniAgency
                        </div>
                    </div>
                </a>

            </div>