 <!--geo-map-->
<section class="mb-120 geo-map">
    <div class="container">
        <div class="geo-map__inner">
            <div class="geo-map__content">
                <div class="sec-top">
                    <h2 class="sec-title">География работы</h2>
                </div>
                <div class="geo-map__text">
                    <p>Доставляем грузовые прицепы и полуприцепы во все регионы России. Отгрузка со складов в Нижнем Новгороде, Москве и Санкт-Петербурге.
                        Работаем
                        с проверенными транспортными компаниями и автовозами. Все грузы застрахованы.</p>
                </div>
                <div class="mb-40 geo-map__links">
                    <a href="#">Москва</a>
                    <a href="#">санкт-петербург</a>
                    <a href="#">Казань</a>
                    <a href="#">Новосибирск</a>
                    <a href="#">Екатеринбург</a>
                    <a href="#">белгород</a>
                </div>
                <a class="btn main-btn" href="#">смотреть Все условия доставки</a>
            </div>
            <div class="geo-map__img">
                <img src="img/new/geo-map.svg" alt>
            </div>
        </div>
    </div>
</section>