<!-- navbar-->
            <nav class="navbar">
                <div class="container">
                    <div class="navbar__row">
                        <div class="navbar__mobile"><a class="navbar__btn" href="tehnika-v-nalichii.html">Купить в наличии</a></div>
                        <div class="navbar__left">
                            <!-- menu-->
                            <div class="navbar__menu">
                                <div class="navbar__menu-inner">
                                    <ul class="menu">

                                        <li class="first level1 current odd">
                                            <a>Главная</a>

                                        </li>
                                        <li class="level1 even">
                                            <a href="/o-kompanii.html">О компании</a>

                                        </li> <li class="toggle"><a href="/produkciya.html">Полуприцепы</a><ul class="menu__dropdown">
                                                <li class="first level2 odd">
                                                    <a href="/sortimentovozy.html">Полуприцепы сортиментовозы (лесовозы)</a>

                                                </li>
                                                <li class="level2 even">
                                                    <a href="/kontejnerovozy.html">Прицепы и полуприцепы контейнеровозы</a>

                                                </li>
                                                <li class="level2 odd">
                                                    <a href="/tentovye-polupricepy.html">Тентовые полуприцепы (шторные)</a>

                                                </li>
                                                <li class="level2 even">
                                                    <a href="/bortovye-polupricepy.html">Бортовые полуприцепы</a>

                                                </li>
                                                <li class="level2 odd">
                                                    <a href="/polupricepy-zernovozy.html">Полуприцепы зерновозы</a>

                                                </li>
                                                <li class="level2 even">
                                                    <a href="/polupricepy-tyazhelovozy.html">Полуприцепы тяжеловозы тралы</a>

                                                </li>
                                                <li class="level2 odd">
                                                    <a href="/polupricepy-samosvaly.html">Полуприцепы самосвалы</a>

                                                </li>
                                                <li class="level2 even">
                                                    <a href="/polupricepy-refrizheratory.html">Полуприцепы рефрижераторы (изотермы)</a>

                                                </li>
                                                <li class="last level2 odd">
                                                    <a href="/polupricepy-shhepovozy.html">Полуприцепы щеповозы</a>

                                                </li></ul></li>
                                        <li class="level1 even">
                                            <a href="/tehnika-v-nalichii.html">Техника в наличии</a>

                                        </li>
                                        <li class="level1 odd">
                                            <a href="/lizing.html">Лизинг</a>

                                        </li>
                                        <li class="level1 even">
                                            <a href="/kontakty.html">Контакты</a>

                                        </li> <li class="toggle"><a href="/novosti.html">Новости</a><ul class="menu__dropdown">
                                                <li class="first level2 odd">
                                                    <a href="/novosti/pozdravlyaem-s-novym-godom-i-rozhdestvom2025.html">Поздравляем с НОВЫМ ГОДОМ и РОЖДЕСТВОМ!</a>

                                                </li>
                                                <li class="level2 even">
                                                    <a
                                                        href="/novosti/obnovlyonnyj-chetyryohosnyj-shtorno-bortovoj-polupricep-tonar-16-5-metrov-s-alyuminievoj-stenkoj.html">Обновлённый
                                                        четырёхосный шторно-бортовой полуприцеп Тонар 16,5 метров с алюминиевой передней стенкой</a>

                                                </li>
                                                <li class="level2 odd">
                                                    <a href="/novosti/akciya-na-polupricepy-traly-zavoda-tverstrojmash-v-kompanii-gruzovye-pricepy.html">Акция на
                                                        полуприцепы-Тралы завода Тверьстроймаш в компании «Грузовые Прицепы»!</a>

                                                </li>
                                                <li class="level2 even">
                                                    <a href="/novosti/pozdravlyaem-s-novym-godom-i-rozhdestvom-2025.html">Поздравляем с НОВЫМ ГОДОМ и РОЖДЕСТВОМ 2025!</a>

                                                </li>
                                                <li class="level2 odd">
                                                    <a href="/novosti/pozdravlyaem-s-dnyom-zashhitnika-otechestva-2025.html">23 февраля - День защитника Отечества!</a>

                                                </li>
                                                <li class="level2 even">
                                                    <a href="/novosti/otgruzki-universalnyh-polupricepov-kontejnerovozov-tonar-k4-u.html">Отгрузки универсальных полуприцепов
                                                        контейнеровозов Тонар K4-U.</a>

                                                </li>
                                                <li class="level2 odd">
                                                    <a href="/novosti/s-prazdnikom-milye-damy.html">С праздником, милые дамы!</a>

                                                </li>
                                                <li class="level2 even">
                                                    <a
                                                        href="/novosti/polupricepy-zernovozy-interpricep-po-snizhennym-cenam-k-nachalu-posevnoj-kompaniya-yarovyh.html">Полуприцепы
                                                        зерновозы ИНТЕРПРИЦЕП по сниженным ценам к началу посевной кампания яровых! </a>

                                                </li>
                                                <li class="level2 odd">
                                                    <a href="/novosti/universalnyj-polupricep-kontejnerovoz-tonar-teper-iz-stali-powerform-700.html">Универсальный полуприцеп
                                                        контейнеровоз ТОНАР теперь из стали Powerform 700</a>

                                                </li>
                                                <li class="level2 even">
                                                    <a href="/novosti/dilerskaya-konferenciya-tonar.html">Дилерская конференция ТОНАР</a>

                                                </li>
                                                <li class="level2 odd">
                                                    <a
                                                        href="/novosti/kompaniya-gruzovye-pricepy-stanovitsya-dilerom-zavoda-izgotovitelya-ao-mashinostroitelnyj-zavod.html">Компания
                                                        "Грузовые Прицепы" становится дилером завода-изготовителя АО «Машиностроительный завод прицепной техники»</a>

                                                </li>
                                                <li class="level2 even">
                                                    <a href="/novosti/pozdravlyaem-vas-s-velikim-prazdnikom-dnyom-pobedy.html">Поздравляем Вас с великим праздником — Днём
                                                        Победы! </a>

                                                </li>
                                                <li class="level2 odd">
                                                    <a href="/novosti/pozdravlyaem-s-dnem-rossii.html">Поздравляем с Днем России!</a>

                                                </li>
                                                <li class="level2 even">
                                                    <a href="/novosti/gruzovye-pricepy-akkreditovany-v-rosagrolizing-novye-vozmozhnosti-dlya-nashih-klientov.html">Грузовые
                                                        Прицепы аккредитованы в РОСАГРОЛИЗИНГ: новые возможности для наших клиентов!</a>

                                                </li>
                                                <li class="level2 odd">
                                                    <a href="/novosti/unikalnoe-predlozhenie-skidka-20-na-pricepnuyu-tekhniku-tonar.html">Уникальное предложение: Скидка 20% на
                                                        прицепную технику ТОНАР!</a>

                                                </li>
                                                <li class="level2 even">
                                                    <a href="/novosti/traly-tverstrojmash-sejchas-eshche-vygodnee.html">Горячая акция! Тралы Тверьстроймаш — сейчас еще
                                                        выгоднее!</a>

                                                </li>
                                                <li class="level2 odd">
                                                    <a href="/novosti/specialisty-kompanii-gruzovye-pricepy-proshli-ocherednoe-obuchenie-na-mz-tonar.html">Специалисты компании
                                                        «Грузовые Прицепы» прошли очередное обучение на МЗ «Тонар». Масштабная акция продолжается: скидка 20% на технику</a>

                                                </li>
                                                <li class="level2 even">
                                                    <a href="/novosti/gotovtes-k-zime-s-gruzovymi-pricepami.html">Готовьтесь к зиме с "Грузовыми Прицепами"!</a>

                                                </li>
                                                <li class="level2 odd">
                                                    <a href="/novosti/pozdravlyaem-s-dnyom-avtomobilista.html">Поздравляем с Днём Автомобилиста!</a>

                                                </li>
                                                <li class="level2 even">
                                                    <a href="/novosti/tgruzka-4-osnogo-kontejnerovoza-braver-bk-440d-s-kontejnerom-open-top.html">Отгрузка 4-осного
                                                        контейнеровоза Braver BК-440D с контейнером Open Top</a>

                                                </li>
                                                <li class="level2 odd">
                                                    <a href="/novosti/vyzov-cenam-universalnye-chetyrekhosnye-kontejnerovozy-ot-1-990-000-rub.html">Вызов ценам: универсальные
                                                        четырехосные контейнеровозы от 1 990 000 руб.</a>

                                                </li>
                                                <li class="level2 even">
                                                    <a
                                                        href="/novosti/goryachee-predlozhenie-dekabrya-dlya-postoyannyh-klientov-kontejnerovozy-v-rassrochku-bez-pereplat.html">Горячее
                                                        предложение декабря для постоянных клиентов: контейнеровозы в рассрочку без переплат!</a>

                                                </li>
                                                <li class="level2 odd">
                                                    <a href="/novosti/s-nastupayushchim-novym-godom-druzya.html">С наступающим Новым годом, друзья!</a>

                                                </li>
                                                <li class="level2 even">
                                                    <a href="/novosti/udachnaya-pokupka-s-tonar-10-skidka-na-vsyu-pricepnuyu-tekhniku-v-nalichii.html">Удачная покупка с ТОНАР:
                                                        10% скидка на всю прицепную технику в наличии!</a>

                                                </li>
                                                <li class="level2 odd">
                                                    <a href="/novosti/top-brendy-polupricepov-2025-tonar-vozglavlyaet-spisok-prodazh.html">ТОП-бренды полуприцепов 2025: ТОНАР
                                                        возглавляет список продаж!</a>

                                                </li>
                                                <li class="level2 even">
                                                    <a href="/novosti/polupricepy-lesovozy-braver-effektivnost-proverennaya-surovymi-usloviyami.html">Полуприцепы лесовозы
                                                        Braver — эффективность, проверенная суровыми условиями!</a>

                                                </li>
                                                <li class="level2 odd">
                                                    <a href="/novosti/pozdravlyaem-vas-s-dnem-zashchitnika-otechestva.html">Поздравляем Вас с Днем защитника Отечества!</a>

                                                </li>
                                                <li class="level2 even">
                                                    <a href="/novosti/s-mezhdunarodnym-zhenskim-dnyom-8-marta.html">С Международным женским днём 8 Марта!</a>

                                                </li>
                                                <li class="last level2 odd">
                                                    <a href="/novosti/novinka-2026-braver-bc-3-na-saf-box-gotov-k-lyubym-dorogam-rossii.html">Новинка 2026: BRAVER BC-3 на SAF
                                                        коробах — готов к любым дорогам!</a>

                                                </li></ul></li>
                                        <li class="last level1 even">
                                            <a href="/oformit-zakaz.html">Оформить заказ</a>

                                        </li>
                                    </ul>
                                    <div class="navbar__info">
                                        <!-- h-info-->
                                        <div class="h-info">
                                            <div class="h-info__item">
                                                <svg>
                                                    <use href="img/icons/sprite.svg#icon-plant"></use>
                                                </svg><span>Официальный дилер заводов производителей полуприцепов</span>
                                            </div>
                                            <div class="h-info__item">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                                                    <path
                                                        d="M12.458 24.008L11.7609 23.4105C10.7999 22.6058 2.409 15.3591 2.409 10.0583C2.409 4.50839 6.90811 0.00927734 12.458 0.00927734C18.0079 0.00927734 22.507 4.50839 22.507 10.0583C22.507 15.3592 14.1161 22.6059 13.1591 23.4145L12.458 24.008ZM12.458 2.18217C8.11021 2.18709 4.58686 5.71045 4.58193 10.0582C4.58193 13.3883 9.74437 18.7081 12.458 21.1429C15.1717 18.7071 20.3341 13.3843 20.3341 10.0582C20.3292 5.71045 16.8059 2.18714 12.458 2.18217Z"></path>
                                                    <path
                                                        d="M12.458 14.0416C10.2581 14.0416 8.47467 12.2582 8.47467 10.0583C8.47467 7.85836 10.2581 6.07495 12.458 6.07495C14.658 6.07495 16.4414 7.85836 16.4414 10.0583C16.4414 12.2582 14.658 14.0416 12.458 14.0416ZM12.458 8.06658C11.358 8.06658 10.4663 8.95828 10.4663 10.0582C10.4663 11.1582 11.358 12.0499 12.458 12.0499C13.558 12.0499 14.4497 11.1582 14.4497 10.0582C14.4497 8.95828 13.558 8.06658 12.458 8.06658Z"></path>
                                                </svg>
                                                <p><span>Город: <a class="city-select" href="#">Нижний Новгород</a></span><span>ул Вождей Революции, дом 28, помещ.
                                                        2</span></p>

                                                <ul class="city">

                                                    <li><a href="//gruz-pricepy.ru">Нижний Новгород</a></li>
                                                    <li><a href="//moscow.gruz-pricepy.ru">Москва</a></li>
                                                    <li><a href="//spb.gruz-pricepy.ru">Санкт-Петербург</a></li>
                                                    <li><a href="//novosib.gruz-pricepy.ru">Новосибирск</a></li>
                                                    <li><a href="//ekb.gruz-pricepy.ru">Екатеринбург</a></li>
                                                    <li><a href="//kazan.gruz-pricepy.ru">Казань</a></li>
                                                    <li><a href="//chel.gruz-pricepy.ru">Челябинск</a></li>
                                                    <li><a href="//omsk.gruz-pricepy.ru">Омск</a></li>
                                                    <li><a href="//samara.gruz-pricepy.ru">Самара</a></li>
                                                    <li><a href="//rostov.gruz-pricepy.ru">Ростов-на-Дону</a></li>
                                                    <li><a href="//ufa.gruz-pricepy.ru">Уфа</a></li>
                                                    <li><a href="//krasnoyarsk.gruz-pricepy.ru">Красноярск</a></li>
                                                    <li><a href="//voronezh.gruz-pricepy.ru">Воронеж</a></li>
                                                    <li><a href="//perm.gruz-pricepy.ru">Пермь</a></li>
                                                    <li><a href="//volgograd.gruz-pricepy.ru">Волгоград</a></li>
                                                    <li><a href="//krasnodar.gruz-pricepy.ru">Краснодар</a></li>
                                                    <li><a href="//vologda.gruz-pricepy.ru">Вологда</a></li>
                                                    <li><a href="//petrozavodsk.gruz-pricepy.ru">Петрозаводск</a></li>
                                                    <li><a href="//archangelsk.gruz-pricepy.ru">Архангельск</a></li>
                                                    <li><a href="//irkutsk.gruz-pricepy.ru">Иркутск</a></li>
                                                    <li><a href="//tver.gruz-pricepy.ru">Тверь</a></li>
                                                    <li><a href="//vladivostok.gruz-pricepy.ru">Владивосток</a></li>
                                                    <li><a href="//kaliningrad.gruz-pricepy.ru">Калининград</a></li>
                                                    <li><a href="//syktyvkar.gruz-pricepy.ru">Сыктывкар</a></li>
                                                    <li><a href="//joshkar-ola.gruz-pricepy.ru">Йошкар-Ола</a></li>

                                                </ul>
                                            </div>
                                        </div>
                                        <!-- h-phones-->
                                        <div class="h-phones">
                                            <a class="h-phones__callback" href="zakazat-zvonok.html">Заказать звонок</a>
                                            <div class="h-phones__right">
                                                <a class="h-phones__call" onclick="ym(56782339,'reachGoal','getcall'); return true;" href="tel:88003029003">
                                                    <svg><use href="img/icons/sprite.svg#icon-whatsapp"></use></svg>
                                                    <span>8-800-302-9003</span>
                                                </a>
                                                <a class="h-phones__email" onclick="ym(56782339,'reachGoal','getemail'); return true;" href="mailto:info@gruz-pricepy.ru">
                                                    <span>info@gruz-pricepy.ru</span>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- end h-phones-->
                                    </div>
                                </div>
                            </div>
                            <!-- end menu-->
                        </div>
                        <div class="navbar__right">
                            <!-- social-->
                            <ul class="social">
                                <li> <a href="http://wa.me/79116113423" target="_blank"> <img src="img/icons/icon-whatsapp.svg"></a></li>
                                <li> <a href="https://rutube.ru/channel/25310877/" target="_blank"> <img src="img/icons/icon-rutube.svg"></a></li>
                                <li> <a href="https://www.avito.ru/brands/gruz-pricepy" target="_blank"> <img src="img/icons/icon-avito-new.svg"></a></li>
                                <li> <a href="https://vk.com/gruzpricepy" target="_blank"> <img src="img/icons/icon-vk.svg"></a></li>
                                <li> <a href="https://t.me/gruz_pricepy" target="_blank"> <img src="img/icons/icon-tg.svg"></a></li>
                                <li> <a href="https://www.youtube.com/channel/UC8Zqtl47sZujKzctCIEF24g" target="_blank"><img src="img/icons/icon-yt.svg"></a></li>

                                <li> <a href="https://www.tiktok.com/@polupritsepy" target="_blank"><img src="img/icons/tiktok.svg"></a></li>
                            </ul>
                            <!-- end social-->
                        </div>
                    </div>
                </div>
            </nav>
            <!-- end navbar-->

            <!-- header-->
            <header class="header fixed-block">
                <div class="container">
                    <div class="header__row">
                        <div class="header__logo">
                            <!-- logo-->
                            <div class="logo">
                                <a href="/">
                                    <svg class="desctop">
                                        <use href="img/icons/sprite.svg#logo-black"></use>
                                    </svg>
                                    <svg class="mobile">
                                        <use href="img/icons/sprite.svg#logo-sm"></use>
                                    </svg>
                                </a>
                            </div>
                            <!-- end logo-->
                        </div>
                        <div class="header__info">
                            <!-- h-info-->
                            <div class="h-info">
                                <div class="h-info__item">
                                    <svg>
                                        <use href="img/icons/sprite.svg#icon-plant"></use>
                                    </svg><span>Официальный дилер заводов производителей полуприцепов</span>
                                </div>
                                <div class="h-info__item">
                                    <svg>
                                        <use href="img/icons/sprite.svg#icon-marker"></use>
                                    </svg>
                                    <p><span>Город: <a class="city-select" href="#">Нижний Новгород</a></span><span>ул Вождей Революции, дом 28, помещ. 2</span></p>

                                    <ul class="city">

                                        <li><a href="//gruz-pricepy.ru">Нижний Новгород</a></li>
                                        <li><a href="//moscow.gruz-pricepy.ru">Москва</a></li>
                                        <li><a href="//spb.gruz-pricepy.ru">Санкт-Петербург</a></li>
                                        <li><a href="//novosib.gruz-pricepy.ru">Новосибирск</a></li>
                                        <li><a href="//ekb.gruz-pricepy.ru">Екатеринбург</a></li>
                                        <li><a href="//kazan.gruz-pricepy.ru">Казань</a></li>
                                        <li><a href="//chel.gruz-pricepy.ru">Челябинск</a></li>
                                        <li><a href="//omsk.gruz-pricepy.ru">Омск</a></li>
                                        <li><a href="//samara.gruz-pricepy.ru">Самара</a></li>
                                        <li><a href="//rostov.gruz-pricepy.ru">Ростов-на-Дону</a></li>
                                        <li><a href="//ufa.gruz-pricepy.ru">Уфа</a></li>
                                        <li><a href="//krasnoyarsk.gruz-pricepy.ru">Красноярск</a></li>
                                        <li><a href="//voronezh.gruz-pricepy.ru">Воронеж</a></li>
                                        <li><a href="//perm.gruz-pricepy.ru">Пермь</a></li>
                                        <li><a href="//volgograd.gruz-pricepy.ru">Волгоград</a></li>
                                        <li><a href="//krasnodar.gruz-pricepy.ru">Краснодар</a></li>
                                        <li><a href="//vologda.gruz-pricepy.ru">Вологда</a></li>
                                        <li><a href="//petrozavodsk.gruz-pricepy.ru">Петрозаводск</a></li>
                                        <li><a href="//archangelsk.gruz-pricepy.ru">Архангельск</a></li>
                                        <li><a href="//irkutsk.gruz-pricepy.ru">Иркутск</a></li>
                                        <li><a href="//tver.gruz-pricepy.ru">Тверь</a></li>
                                        <li><a href="//vladivostok.gruz-pricepy.ru">Владивосток</a></li>
                                        <li><a href="//kaliningrad.gruz-pricepy.ru">Калининград</a></li>
                                        <li><a href="//syktyvkar.gruz-pricepy.ru">Сыктывкар</a></li>
                                        <li><a href="//joshkar-ola.gruz-pricepy.ru">Йошкар-Ола</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="header__phones">
                            <div class="header__phones-close">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.918164 12.918163">
                                    <path d="M.354.354l12.21 12.21M12.565.354L.353 12.564"></path>
                                </svg>
                            </div>
                            <!-- h-phones-->
                            <div class="h-phones">
                                <a class="h-phones__callback" href="zakazat-zvonok.html">Заказать звонок</a>
                                <div class="h-phones__right">
                                    <a class="h-phones__call" onclick="ym(56782339,'reachGoal','getcall'); return true;" href="tel:88003029003">
                                        <svg><use href="img/icons/sprite.svg#icon-whatsapp"></use></svg>
                                        <span>8-800-302-9003</span>
                                    </a>
                                    <a class="h-phones__email" onclick="ym(56782339,'reachGoal','getemail'); return true;" href="mailto:info@gruz-pricepy.ru">
                                        <span>info@gruz-pricepy.ru</span>
                                    </a>
                                </div>
                            </div>
                            <!-- end h-phones-->
                        </div>
                        <div class="header__mobBtn" role="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                                <path d="M0 20C0 8.95431 8.95431 0 20 0C31.0457 0 40 8.95431 40 20C40 31.0457 31.0457 40 20 40C8.95431 40 0 31.0457 0 20Z"
                                    fill="#F13D3D"></path>
                                <g clip-path="url(#clip0_15_252)">
                                    <path
                                        d="M28.475 11.5167L27.6 10.7583C27.3604 10.5186 27.0759 10.3283 26.7627 10.1986C26.4496 10.0688 26.1139 10.002 25.775 10.002C25.436 10.002 25.1004 10.0688 24.7872 10.1986C24.4741 10.3283 24.1896 10.5186 23.95 10.7583C23.925 10.7833 22.3833 12.7917 22.3833 12.7917C21.926 13.2728 21.6709 13.9112 21.6709 14.575C21.6709 15.2388 21.926 15.8772 22.3833 16.3583L23.35 17.575C22.1333 20.3333 20.2416 22.2333 17.575 23.3667L16.3583 22.3917C15.8792 21.9305 15.24 21.6729 14.575 21.6729C13.91 21.6729 13.2708 21.9305 12.7916 22.3917C12.7916 22.3917 10.7833 23.9333 10.7583 23.9583C9.74997 24.9667 9.74997 26.6 10.7166 27.5667L11.55 28.525C12.5083 29.4833 13.8 30.0083 15.2 30.0083C21.5666 30.0083 30 21.5667 30 15.2083C30 13.8167 29.475 12.5167 28.475 11.525V11.5167ZM15.2 28.3333C14.25 28.3333 13.375 27.9833 12.775 27.375L11.9416 26.4167C11.7765 26.2508 11.681 26.0281 11.6748 25.7941C11.6686 25.5602 11.7522 25.3327 11.9083 25.1583C11.9083 25.1583 13.9 23.625 13.925 23.6C14.2666 23.2583 14.8666 23.2583 15.2166 23.6C15.2416 23.625 16.9166 24.9667 16.9166 24.9667C17.15 25.15 17.4583 25.2 17.7333 25.0917C21.1833 23.775 23.6583 21.3083 25.0833 17.75C25.1916 17.475 25.15 17.1583 24.9583 16.9167C24.9583 16.9167 23.6166 15.2333 23.6 15.2167C23.2416 14.8583 23.2416 14.2833 23.6 13.925C23.625 13.9 25.1583 11.9083 25.1583 11.9083C25.5166 11.5833 26.075 11.5917 26.4583 11.975L27.3333 12.7333C27.975 13.375 28.3333 14.25 28.3333 15.2C28.3333 21 20.1916 28.3333 15.2 28.3333Z"
                                        fill="white"></path>
                                </g>
                                <defs>
                                    <clippath id="clip0_15_252">
                                        <rect width="20" height="20" fill="white" transform="translate(10 10)"></rect>
                                    </clippath>
                                </defs>
                            </svg>
                        </div>
                        <div class="header__toggle">
                            <a class="burger" href="#">
                                <span></span><span></span><span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </header>
            <!-- end header-->