    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Купить новый полуприцеп в Нижнем Новгороде, каталог полуприцепов - цены | Грузовые прицепы</title>

        <meta name="description" content="✅ Грузовые прицепы и полуприцепы от официального дилера STEELBEAR - ООО «Грузовые прицепы». ☎ в Нижнем Новгороде: 8-800-302-9003">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href="/ico/180.png">
        <link rel="icon" type="image/png" href="/ico/favicon-32x32.png" sizes="32x32">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&amp;display=swap&amp;subset=cyrillic" rel="stylesheet">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/libs.min.css">
        <link rel="stylesheet" href="css/styles.min.css?v=010725">
        <link rel="stylesheet" href="css/jquery.fancybox.min.css">
        <link rel="stylesheet" href="css/custom.css?v=010725">
        <link rel="stylesheet" href="css/several-serts.css?v=230625">
        <link rel="stylesheet" href="css/o-kompanii.css">
        <link rel="stylesheet" href="css/style.min.css?v=020725">
        <link rel="stylesheet" href="css/new.min.css">
    </head>