<div class="instock__item<%= typeof slider !== 'undefined' && slider ? ' item' : '' %>">
    <div class="card">
        <div class="card__label">
            <div class="card__price"> <span> 4 050 000 руб.</span></div>
            <div class="card__stock"><span> В наличии </span></div>
        </div>
        <a class="card__img" href="sortimentovozy/polupricep-sortimentovoz-bc-330b.html">
            <img src="img/new/catalog-1.jpg">
        </a>
        <a class="card__name" href="sortimentovozy/polupricep-sortimentovoz-bc-330b.html">
            Полуприцеп-сортиментовоз BRAVER BC-330B
        </a>

        <div class="card__add-info"><span>Стандарт осевой агрегат BPW SLO</span></div>
        <div class="card__hidden">
            <div class="card__label">
                <div class="card__price"> <span> 4 050 000 руб.</span></div>
                <div class="card__stock"><span> В наличии </span></div>
            </div>
            <a class="card__img" href="sortimentovozy/polupricep-sortimentovoz-bc-330b.html">
                <img src="img/new/skeleton.svg">
            </a>
            <a class="card__name" href="sortimentovozy/polupricep-sortimentovoz-bc-330b.html">
                Полуприцеп-сортиментовоз BRAVER BC-330B
            </a>
            <div class="card__add-info"><span>Стандарт осевой агрегат BPW SLO</span></div><a class="card__btn"
                href="oformit-zakaz.html">ЗАПРОСИТЬ
                КП</a>
            <div class="card__info">
                <div class="card__info-item">
                    <p>Макс.полная масса:</p>
                    <p>44 000 кг</p>
                </div><div class="card__info-item">
                    <p>Длина габаритная:</p>
                    <p>13 600 мм</p>
                </div><div class="card__info-item">
                    <p>Ширина габаритная:</p>
                    <p>2 550 мм</p>
                </div><div class="card__info-item">
                    <p>Высота габаритная:</p>
                    <p>4 000 мм</p>
                </div>

            </div>
        </div>
    </div>
</div>