<html lang="ru">
    <%- include("partials/head.ejs") %>
    <body>
        <div class="wrap">

            <%- include("partials/header.ejs") %>
            <main>
                <div class="single">
                    <div class="container">
                        <!-- breadcrumbs-->
                        <div class="breadcrumbs">
                            <ul itemscope itemtype="http://schema.org/BreadcrumbList">

                                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><meta itemprop="position" content="1">
                                    <a href="/" title="Главная" itemprop="item">
                                        <span itemprop="name">Грузовые Прицепы</span>
                                    </a>
                                </li>
                                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><meta itemprop="position" content="2">
                                    <a href="novosti.html" title="Новости" itemprop="item">
                                        <span itemprop="name">
                                            Новости
                                        </span>
                                    </a>
                                </li>
                                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                    <meta itemprop="position" content="3">
                                    <span itemprop="item">Новинка 2026: BRAVER BC-3 на SAF коробах — готов к любым дорогам!</span>
                                </li>
                            </ul>
                        </div>
                        <!-- end breadcrumbs-->
                        <div class="single__row">
                            <div class="single__content">
                                <!-- article-->
                                <article class="article">
                                    <h1>Новинка 2026: BRAVER BC-3 на SAF коробах — готов к любым дорогам!</h1>
                                    <div class="article__date">20 февраля 2026</div>
                                    <div class="gallery">Галерея</div>
                                    <p>АО «МЗПТ» город Кострома представляет новинку 2026 года — BRAVER BC-3 на дисковых осях SAF Короба (ССУ 1150 мм). Полуприцеп создан для
                                        суровых условий дорог России и стран СНГ: прочная рама, усиленная подвеска и современные тормозные и информационные системы
                                        обеспечивают надежность и безопасность на каждом километра пути.</p>
                                    <p><strong>Основные преимущества:</strong></p>
                                    <ul class="list-decimal list-outside ml-4">
                                        <li class="py-1">Готовность к дорогам России и СНГ: усиленная конструкция и off-road исполнение CD-CUSTOM DESIGN.</li>
                                        <li class="py-1">Сверхпрочная рама: двойная проварка лонжеронов из низколегированной стали для устойчивости к скручиванию.</li>
                                        <li class="py-1">Шасси SAF BOX IU34 (Германия): дисковый тормоз Integral с суппортом SBS 2220, повышенная прочность и надёжность на
                                            сложных участках.</li>
                                        <li class="py-1">Усиленная пневматическая подвеска SAF INTRA IU34: подушки диаметром 350 мм, возможность подъёма/опускания.</li>
                                        <li class="py-1">Усиленные амортизаторы (красные CD) и шины Cordiant TR-1 385/65 R22,5: баланс прочности и комфорта на дорогах
                                            различного покрытия.</li>
                                        <li class="py-1">Тормозная система WABCO EBS 2S/2M с функцией RSS (электронная система предотвращения опрокидывания).</li>
                                        <li class="py-1">Информационная система Smartboard: мониторинг нагрузки на осевые агрегаты и параметры полуприцепа для оперативного
                                            управления.</li>
                                        <li class="py-1">Нагрузки и габариты: допустимая нагрузка на ось 9000 кг; общая масса и грузоподъемность соответствуют требованиям
                                            тяжёлых перевозок; седельно-сцепное устройство высотой 1150 мм.</li>
                                    </ul>
                                    <p><strong>Гарантия: 24 месяца</strong> без ограничения пробега (при условии своевременного обслуживания).</p>
                                    <p>&nbsp;</p>
                                    <p><strong>Как оформить заказ:</strong></p>
                                    <ul class="list-decimal list-outside ml-4">
                                        <li class="py-1">Если Вас заинтересовала данная модель сортиментовоза BRAVER BC-3 — напишите, позвоните нам для обсуждения деталей и
                                            расчета КП.</li>
                                        <li class="py-1">При необходимости предложим альтернативные конфигурации под конкретные задачи и маршруты.</li>
                                        <li class="py-1">Полуприцепы в наличии!</li>
                                    </ul>
                                    <p>Обращайтесь к нашим менеджерам сейчас и получите технику из наличии, <a href="tel:88003029003"><strong>8-800-302-9003</strong></a>
                                        звонок по России бесплатный, <a href="mailto:info@gruz-pricepy.ru">info@gruz-pricepy.ru</a></p>
                                    <p>&nbsp;</p>
                                    <p>&nbsp;</p>
                                </article>
                                <!-- end article-->
                            </div>
                            <div class="single__sidebar">
                                <!-- recom-->

                                <div class="recom">
                                    <p class="recom__title">Рекомендуемые новости</p>

                                    <a class="recom__item" href="novosti/pozdravlyaem-vas-s-dnem-zashchitnika-otechestva.html">
                                        <div class="recom__img">
                                            <img src="https://gruz-pricepy.ru/assets/cache/images/novosti/dizajn-bez-nazvaniya-41-330x200-d88.png"
                                                alt="Поздравляем Вас с Днем защитника Отечества!">
                                        </div>
                                        <div class="recom__content">
                                            <p class="recom__name">Поздравляем Вас с Днем защитника Отечества!</p>
                                            <p class="recom__desc">Желаем надёжности и стойкости — как у нашей техники!</p>
                                            <p class="recom__date">20&nbsp;февраля&nbsp;2026</p>
                                        </div>
                                    </a>
                                    <a class="recom__item" href="novosti/polupricepy-lesovozy-braver-effektivnost-proverennaya-surovymi-usloviyami.html">
                                        <div class="recom__img">
                                            <img src="https://gruz-pricepy.ru/assets/cache/images/novosti/photo_2026-02-03_17-38-38_-330x200-da9.jpg"
                                                alt="Полуприцепы лесовозы Braver — эффективность, проверенная суровыми условиями!">
                                        </div>
                                        <div class="recom__content">
                                            <p class="recom__name">Полуприцепы лесовозы Braver —
                                                эффективность, проверенная
                                                суровыми условиями!</p>
                                            <p class="recom__desc">Полуприцепы лесовозы Braver —
                                                эффективность, проверенная
                                                суровыми условиями!</p>
                                            <p class="recom__date">04&nbsp;февраля&nbsp;2026</p>
                                        </div>
                                    </a>
                                    <a class="recom__item" href="novosti/s-mezhdunarodnym-zhenskim-dnyom-8-marta.html">
                                        <div class="recom__img">
                                            <img src="https://gruz-pricepy.ru/assets/cache/images/novosti/otkrytki-50-330x200-065.png"
                                                alt="С Международным женским днём 8 Марта!">
                                        </div>
                                        <div class="recom__content">
                                            <p class="recom__name">Поздравляем Вас с Днем защитника Отечества!</p>
                                            <p class="recom__desc">Желаем надёжности и стойкости — как у нашей техники!</p>
                                            <p class="recom__date">07&nbsp;марта&nbsp;2026</p>
                                        </div>
                                    </a>

                                </div>
                                <!-- end recom-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- instock-->
                <section class="mb-120 instock">
                    <div class="container">
                        <h2 class="instock__title">Товары по теме</h2>
                        <div class="instock__row">
                            <%- include("partials/instock-item.ejs") %>
                            <%- include("partials/instock-item.ejs") %>
                            <%- include("partials/instock-item.ejs") %>
                        </div>
                    </div>
                </section>
                <%- include('partials/cta-block.ejs', {
                title: 'Интересует данная модель?',
                text: `<p><a href="#">Смотреть полуприцепы в наличии</a></p>
                <p><a href="#">Подобрать технику</a></p>
                <p><a href="#">Условия доставки</a></p>`,
                btns: `<a class="btn main-btn" href="#">Получить консультацию</a>`,
                img: 'cta-2',
                info: false
                }) %>
                <!--catalog-->
                <section class="mb-120 catalog">
                    <div class="container">
                        <h2 class="category__title">Категории</h2>
                        <div class="catalog__row">
                            <a class="catalog__item" href="sortimentovozy.html">
                                <div class="catalog__models">
                                    <span>12 моделей</span>
                                </div>
                                <div class="catalog__img">
                                    <img src="img/new/category-1.png" alt="Полуприцепы сортиментовозы"
                                        title="Полуприцепы сортиментовозы">
                                </div>
                                <p class="catalog__name">Полуприцепы сортиментовозы</p>
                                <p class="catalog__desc">Для транспортировки различного вида сортимента: лесоматериалы, трубопрокатная продукция</p>
                            </a>
                            <a class="catalog__item" href="kontejnerovozy.html">
                                <div class="catalog__models">
                                    <span>12 моделей</span>
                                </div>
                                <div class="catalog__img">
                                    <img src="img/new/category-1.png" alt="Полуприцепы контейнеровозы"
                                        title="Полуприцепы контейнеровозы">
                                </div>
                                <p class="catalog__name">Полуприцепы контейнеровозы</p>
                                <p class="catalog__desc">Для транспортировки контейнеров различной модификации от 20 до 45 футов</p>
                            </a>
                            <a class="catalog__item" href="tentovye-polupricepy.html">
                                <div class="catalog__models">
                                    <span>12 моделей</span>
                                </div>
                                <div class="catalog__img">
                                    <img src="img/new/category-1.png" alt="Тентовые полуприцепы" title="Тентовые полуприцепы">
                                </div>
                                <p class="catalog__name">Тентовые полуприцепы</p>
                                <p class="catalog__desc">Для транспортировки различных видов груза</p>
                            </a>
                        </div>
                        <div class="sec-bottom"><a class="text-btn" href="#">Смотреть все категории</a></div>
                    </div>
                </section>
                <%- include("partials/geo-map.ejs") %>
            </main>
            <%- include("partials/footer.ejs") %>
        </div>
        <%- include("partials/modals.ejs") %>
        <%- include("partials/js.ejs") %>

    </body>
</html>