<html lang="ru">
    <%- include("partials/head.ejs") %>
    <body>
        <div class="wrap">

            <%- include("partials/header.ejs") %>
            <main>
                <section class="mb-120 catalog">
                    <div class="container">
                        <!-- breadcrumbs-->

                        <div class="breadcrumbs">
                            <ul itemscope itemtype="http://schema.org/BreadcrumbList">

                                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><meta itemprop="position" content="1">
                                    <a href="/" title="Главная" itemprop="item">
                                        <span itemprop="name">Грузовые Прицепы</span>
                                    </a>
                                </li>
                                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                    <meta itemprop="position" content="2">
                                    <span itemprop="item">Полуприцепы</span>
                                </li>
                            </ul>
                        </div>

                        <!-- end breadcrumbs-->
                    </div>
                    <div class="mb-60 text-block">
                        <div class="container">
                            <h1>Грузовые полуприцепы и прицепы</h1>
                            <div class="page-content">
                                <p>Производим и&nbsp;поставляем грузовые полуприцепы для&nbsp;любых задач: контейнеровозы, тралы, самосвалы, зерновозы, сортиментовозы,
                                    тентовые, бортовые, рефрижераторы и&nbsp;щеповозы. Работаем с&nbsp;ведущими российскими заводами: Тонар, Braver, SteelBear, ИнтерПрицеп.
                                    В&nbsp;наличии модели грузоподъёмностью от&nbsp;20&nbsp;до&nbsp;60&nbsp;тонн. Изготовление под&nbsp;заказ с&nbsp;нужной комплектацией.
                                    Доставка по&nbsp;всей России. Оформляем лизинг и&nbsp;кредит. Гарантия от&nbsp;производителя.</p>
                            </div>
                        </div>
                    </div>
                    <div class="filter">
                        <div class="container">
                            <div class="filter__header">
                                <p class="filter__title">Фильтр</p>
                                <p class="filter__desc"> Выберите тип и производителя полуприцепа</p><a class="filter__toggle" href="#"><img
                                        src="assets/files/img/icons/icon-plus-circle.svg"></a>
                            </div>
                            <div class="filter__row">
                                <ul class="filter__left">
                                    <li><span>Тип полуприцепа</span></li>
                                </ul>
                                <ul class="filter__list">
                                    <li class="first level1 odd">
                                        <a href="/sortimentovozy.html">Полуприцепы сортиментовозы</a>
                                    </li><li class="level1 even">
                                        <a href="/kontejnerovozy.html">Полуприцепы контейнеровозы</a>
                                    </li><li class="level1 odd">
                                        <a href="/tentovye-polupricepy.html">Тентовые полуприцепы</a>
                                    </li><li class="level1 even">
                                        <a href="/bortovye-polupricepy.html">Бортовые полуприцепы</a>
                                    </li><li class="level1 odd">
                                        <a href="/polupricepy-zernovozy.html">Полуприцепы зерновозы</a>
                                    </li><li class="level1 even">
                                        <a href="/polupricepy-tyazhelovozy.html">Полуприцепы тяжеловозы тралы</a>
                                    </li><li class="level1 odd">
                                        <a href="/polupricepy-samosvaly.html">Полуприцепы самосвалы</a>
                                    </li><li class="level1 even">
                                        <a href="/polupricepy-refrizheratory.html">Полуприцепы рефрижераторы (изотермы)</a>
                                    </li><li class="last level1 odd">
                                        <a href="/polupricepy-shhepovozy.html">Полуприцепы щеповозы</a>
                                    </li>
                                </ul>
                                <!-- brands-->
                                <div class="brands" style="display:none;">
                                    <div class="brands__label"> <span>Производитель</span></div>
                                    <ul class="brands__list">

                                    </ul>
                                </div>
                                <!-- end brands-->
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <h2 class="category__title">Каталог полуприцепов</h2>
                        <div class="mb-80 catalog__row">
                            <a class="catalog__item" href="sortimentovozy.html">
                                <div class="catalog__models">
                                    <span>12 моделей</span>
                                </div>
                                <div class="catalog__img">
                                    <img src="img/new/category-1.png" alt="Полуприцепы сортиментовозы"
                                        title="Полуприцепы сортиментовозы">
                                </div>
                                <p class="catalog__name">Полуприцепы сортиментовозы</p>
                                <p class="catalog__desc">Для транспортировки различного вида сортимента: лесоматериалы, трубопрокатная продукция</p>
                            </a>
                            <a class="catalog__item" href="kontejnerovozy.html">
                                <div class="catalog__models">
                                    <span>12 моделей</span>
                                </div>
                                <div class="catalog__img">
                                    <img src="img/new/category-1.png" alt="Полуприцепы контейнеровозы"
                                        title="Полуприцепы контейнеровозы">
                                </div>
                                <p class="catalog__name">Полуприцепы контейнеровозы</p>
                                <p class="catalog__desc">Для транспортировки контейнеров различной модификации от 20 до 45 футов</p>
                            </a>
                            <a class="catalog__item" href="tentovye-polupricepy.html">
                                <div class="catalog__models">
                                    <span>12 моделей</span>
                                </div>
                                <div class="catalog__img">
                                    <img src="img/new/category-1.png" alt="Тентовые полуприцепы" title="Тентовые полуприцепы">
                                </div>
                                <p class="catalog__name">Тентовые полуприцепы</p>
                                <p class="catalog__desc">Для транспортировки различных видов груза</p>
                            </a>
                            <a class="catalog__item" href="bortovye-polupricepy.html">
                                <div class="catalog__models">
                                    <span>12 моделей</span>
                                </div>
                                <div class="catalog__img">
                                    <img src="img/new/category-1.png" alt="Бортовые полуприцепы" title="Бортовые полуприцепы">
                                </div>
                                <p class="catalog__name">Бортовые полуприцепы</p>
                                <p class="catalog__desc">Для транспортировки различных видов груза</p>
                            </a>
                            <a class="catalog__item" href="polupricepy-zernovozy.html">
                                <div class="catalog__models">
                                    <span>12 моделей</span>
                                </div>
                                <div class="catalog__img">
                                    <img src="img/new/category-1.png" alt="Полуприцепы зерновозы" title="Полуприцепы зерновозы">
                                </div>
                                <p class="catalog__name">Полуприцепы зерновозы</p>
                                <p class="catalog__desc">Для транспортировки зерна и других сыпучих пищевых грузов</p>
                            </a>
                            <a class="catalog__item" href="polupricepy-tyazhelovozy.html">
                                <div class="catalog__models">
                                    <span>12 моделей</span>
                                </div>
                                <div class="catalog__img">
                                    <img src="img/new/category-1.png" alt="Полуприцепы тяжеловозы тралы" title="Полуприцепы тяжеловозы тралы">
                                </div>
                                <p class="catalog__name">Полуприцепы тяжеловозы тралы</p>
                                <p class="catalog__desc">Для транспортировки различной строительной техники и негабаритных грузов</p>
                            </a>
                        </div>
                        <div class="catalog__top">
                            <h2>Модели полуприцепов и прицепов</h2>
                            <div class="dropdown radio-select dropdown--sort" aria-expanded="false">
                                <div class="dropdown__header">
                                    <span>По умолчанию</span>
                                    <svg><use href="img/icons/sprite.svg#arr-down"></use></svg>
                                </div>
                                <div class="dropdown__body">
                                    <div class="custom-scroll dropdown__options">
                                        <label>
                                            <input type="radio" name="sort" checked>
                                            <span>По умолчанию</span>
                                        </label>
                                        <label>
                                            <input type="radio" name="sort">
                                            <span>Сначала в наличии</span>
                                        </label>
                                        <label>
                                            <input type="radio" name="sort">
                                            <span>Цена: сначала дешевле</span>
                                        </label>
                                        <label>
                                            <input type="radio" name="sort">
                                            <span>Цена: сначала дороже</span>
                                        </label>
                                        <label>
                                            <input type="radio" name="sort">
                                            <span>По названию (А-Я)</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="catalog__row">
                            <%- include("partials/instock-item.ejs") %>
                            <%- include("partials/instock-item.ejs") %>
                            <%- include("partials/instock-item.ejs") %>
                            <%- include("partials/instock-item.ejs") %>
                            <%- include("partials/instock-item.ejs") %>
                            <%- include("partials/instock-item.ejs") %>
                        </div>
                    </div>
                </section>
                <%- include("partials/geo-map.ejs") %>
                <%- include("partials/faq.ejs", {title: "Часто задаваемые вопросы о товаре"}) %>
                <!-- instock-->
                <section class="mb-120 instock">
                    <div class="container">
                        <h2 class="instock__title">Популярные товары</h2>
                        <div class="instock__row">
                            <%- include("partials/instock-item.ejs") %>
                            <%- include("partials/instock-item.ejs") %>
                            <%- include("partials/instock-item.ejs") %>
                        </div>
                    </div>
                </section>
                <!-- m-news-->
                <section class="mb-120 m-news">
                    <div class="container">
                        <h2 class="m-news__title">Полезно знать</h2>
                        <div class="m-news__row">
                            <a class="m-news__item" href="#">
                                <div class="m-news__img">
                                    <img src="img/new/news-1.jpg">
                                </div>
                                <div class="m-news__desc">
                                    <h3>С Международным женским днём 8 Марта!</h3>
                                    <p>Поздравляем наших клиентов и партнёров с праздником весны!</p>
                                    <time datetime="16&nbsp;марта&nbsp;2026">16&nbsp;марта&nbsp;2026</time>
                                    <div class="m-news__more"><span>Читать подробнее</span>
                                        <svg>
                                            <use href="img/icons/sprite.svg#arr-next"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                            <a class="m-news__item" href="#">
                                <div class="m-news__img">
                                    <img src="img/new/news-1.jpg">
                                </div>
                                <div class="m-news__desc">
                                    <h3>Поздравляем Вас с Днем защитника Отечества!</h3>
                                    <p>Желаем надёжности и стойкости — как у нашей техники!</p>
                                    <time datetime="16&nbsp;марта&nbsp;2026">16&nbsp;марта&nbsp;2026</time>
                                    <div class="m-news__more"><span>Читать подробнее</span>
                                        <svg>
                                            <use href="img/icons/sprite.svg#arr-next"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                            <a class="m-news__item" href="#">
                                <div class="m-news__img">
                                    <img src="img/new/news-1.jpg">
                                </div>
                                <div class="m-news__desc">
                                    <h3>Полуприцепы лесовозы Braver — эффективность,
                                        проверенная суровыми условиями!</h3>
                                    <p>Работают при -40°C, выдерживают нагрузку до 40 тонн.</p>
                                    <time datetime="16&nbsp;марта&nbsp;2026">16&nbsp;марта&nbsp;2026</time>
                                    <div class="m-news__more"><span>Читать подробнее</span>
                                        <svg>
                                            <use href="img/icons/sprite.svg#arr-next"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="m-news__all"><a href="#">Все новости</a></div>
                    </div>
                </section>
            </main>
            <%- include("partials/footer.ejs") %>
        </div>
        <%- include("partials/modals.ejs") %>
        <%- include("partials/js.ejs") %>

    </body>
</html>