<html lang="ru">
    <%- include("partials/head.ejs") %>
    <body>
        <div class="wrap">

            <%- include("partials/header.ejs") %>
            <main>
                <div class="product">
                    <div class="container">
                        <!-- breadcrumbs-->

                        <div class="breadcrumbs">
                            <ul itemscope itemtype="http://schema.org/BreadcrumbList">

                                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><meta itemprop="position" content="1">
                                    <a href="/" title="Главная" itemprop="item">
                                        <span itemprop="name">Грузовые Прицепы</span>
                                    </a>
                                </li>
                                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><meta itemprop="position" content="2">
                                    <a href="produkciya.html" title="Полуприцепы" itemprop="item">
                                        <span itemprop="name">
                                            Полуприцепы
                                        </span>
                                    </a>
                                </li>
                                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><meta itemprop="position" content="3">
                                    <a href="sortimentovozy.html" title="Полуприцепы сортиментовозы (лесовозы)" itemprop="item">
                                        <span itemprop="name">
                                            Полуприцепы сортиментовозы (лесовозы)
                                        </span>
                                    </a>
                                </li>
                                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                    <meta itemprop="position" content="4">
                                    <span itemprop="item">Полуприцеп-сортиментовоз BRAVER BC-330B</span>
                                </li>
                            </ul>
                        </div>

                        <!-- end breadcrumbs-->
                        <div class="product__row">
                            <div class="product__top">
                                <h1 class="product__title">Контейнеровоз Braver BК-424D</h1>
                                <div class="product__desc">
                                    <p>4-осный полуприцеп-контейнеровоз для&nbsp;перевозки морских и&nbsp;железнодорожных контейнеров 20,
                                        40&nbsp;и&nbsp;2×20&nbsp;футов. Универсальная конструкция позволяет работать с&nbsp;2-х и&nbsp;3-осными тягачами. Усиленная рама,
                                        пневматическая подвеска, дисковые тормоза. Производство&nbsp;— завод Braver (Россия). Гарантия 24&nbsp;месяца.</p>
                                </div>
                            </div>
                            <div class="product__left">
                                <!-- gallery-->
                                <div class="gallery">
                                    <div class="gallery__carousel">
                                        <div class="item">
                                            <a data-fancybox="gallery" href="img/new/product-1.jpg">
                                                <img src="img/new/product-1.jpg" alt>
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a data-fancybox="gallery" href="img/new/product-1.jpg">
                                                <img src="img/new/product-1.jpg" alt>
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a data-fancybox="gallery" href="img/new/product-1.jpg">
                                                <img src="img/new/product-1.jpg" alt>
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a data-fancybox="gallery" href="img/new/product-1.jpg">
                                                <img src="img/new/product-1.jpg" alt>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="gallery__thumbs">
                                        <div class="item">
                                            <a data-fancybox="gallery" href="img/new/product-1.jpg">
                                                <img src="img/new/product-1.jpg" alt>
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a data-fancybox="gallery" href="img/new/product-1.jpg">
                                                <img src="img/new/product-1.jpg" alt>
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a data-fancybox="gallery" href="img/new/product-1.jpg">
                                                <img src="img/new/product-1.jpg" alt>
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a data-fancybox="gallery" href="img/new/product-1.jpg">
                                                <img src="img/new/product-1.jpg" alt>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- end gallery-->
                            </div>
                            <div class="product__right">

                                <p class="product__cost"> 4 350 000 руб.</p>
                                <a class="product__link" href="oformit-zakaz.html">Приобрести в лизинг/кредит</a>
                                <p class="product__stock"><svg><use href="img/icons/sprite.svg#icon-check"></use></svg><span>В наличии</span></p>
                                <div class="product__text"><p>Техника доступна к отгрузке со склада. Срок отгрузки: 1–3 рабочих дня.</p></div>
                                <div class="product__actions">
                                    <a href="#" class="btn text-btn">Смотреть всю технику в&nbsp;наличии</a>
                                    <a href="#" class="btn text-btn">Условия доставки</a>
                                </div>
                                <table class="product__table">
                                    <tbody>
                                        <tr>
                                            <td>Масса снаряженного полуприцепа, кг</td>
                                            <td>6&nbsp;200</td>
                                        </tr>
                                        <tr>
                                            <td>Длина габаритная, мм</td>
                                            <td>13&nbsp;130</td>
                                        </tr>
                                        <tr>
                                            <td>Типы контейнеров</td>
                                            <td>20, 40, 2*20</td>
                                        </tr>
                                        <tr>
                                            <td>Межосевое расстояние (1–2), мм</td>
                                            <td>2&nbsp;010</td>
                                        </tr>
                                        <tr>
                                            <td>Межосевое расстояние (2–3–4), мм</td>
                                            <td>1&nbsp;310</td>
                                        </tr>
                                        <tr>
                                            <td>Шины</td>
                                            <td>385/55 R22,5</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="product__btns">
                                    <a class="product__price" href="oformit-zakaz.html" id="order">Запросить КП</a><a class="product__chars js-anchor"
                                        href="#chars">ХАРАКТЕРИСТИКИ</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <%- include("partials/advant.ejs") %>
                    <!-- end advant-->
                    <div class="container">
                        <div class="product__row">
                            <div class="product__left">
                                <!-- tabs-->
                                <div class="tabs" id="chars">
                                    <ul class="tabs__nav">
                                        <li class="active"><a href="#tab1">Характеристики</a></li>
                                        <li class><a href="#tab2">Доставка</a></li>
                                    </ul>
                                    <div class="tabs__content">
                                        <div class="tabs__tab active" id="tab1" style>
                                            <!-- accord-->
                                            <div class="accord">
                                                <div class="accord__item"><a class="accord__title"> <span>Технические характеристики</span>
                                                        <svg>
                                                            <use href="img/icons/sprite.svg#arr-down"></use>
                                                        </svg></a>
                                                    <div class="accord__content" style="display: none;">
                                                        <table>
                                                            <tbody>
                                                                <tr style="height: 18px;">
                                                                    <td style="height: 18px; width: 492.85px;">Категория транспортного средства</td>
                                                                    <td style="height: 18px; width: 49.425px;">О4</td>
                                                                </tr>
                                                                <tr style="height: 18px;">
                                                                    <td style="height: 18px; width: 492.85px;">Максимальная полная масса, кг</td>
                                                                    <td style="height: 18px; width: 49.425px;">44 000</td>
                                                                </tr>
                                                                <tr style="height: 18px;">
                                                                    <td style="height: 18px; width: 492.85px;">Масса снаряженного шасси (в базовой комплектации) не более,
                                                                        кг</td>
                                                                    <td style="height: 18px; width: 49.425px;">7 300</td>
                                                                </tr>
                                                                <tr style="height: 18px;">
                                                                    <td style="height: 18px; width: 492.85px;">Нагрузка на ССУ допустимая, кг</td>
                                                                    <td style="height: 18px; width: 49.425px;">17 000</td>
                                                                </tr>
                                                                <tr style="height: 18px;">
                                                                    <td style="height: 18px; width: 492.85px;">Нагрузка на оси допустимая, кг</td>
                                                                    <td style="height: 18px; width: 49.425px;">27 000</td>
                                                                </tr>
                                                                <tr style="height: 18px;">
                                                                    <td style="height: 18px; width: 492.85px;">Длина габаритная, мм</td>
                                                                    <td style="height: 18px; width: 49.425px;">13 600</td>
                                                                </tr>
                                                                <tr style="height: 18px;">
                                                                    <td style="height: 18px; width: 492.85px;">Ширина габаритная, мм</td>
                                                                    <td style="height: 18px; width: 49.425px;">2 550</td>
                                                                </tr>
                                                                <tr style="height: 18px;">
                                                                    <td style="height: 18px; width: 492.85px;">Высота габаритная, мм</td>
                                                                    <td style="height: 18px; width: 49.425px;">4 000</td>
                                                                </tr>
                                                                <tr style="height: 18px;">
                                                                    <td style="height: 18px; width: 492.85px;">Высота седельно-сцепного устройства (H), мм</td>
                                                                    <td style="height: 18px; width: 49.425px;">1 300</td>
                                                                </tr>
                                                                <tr style="height: 18px;">
                                                                    <td style="height: 18px; width: 492.85px;">Колесная колея, мм</td>
                                                                    <td style="height: 18px; width: 49.425px;">2 040</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div><div class="accord__item"><a class="accord__title"> <span>Осевой агрегат</span>
                                                        <svg>
                                                            <use href="img/icons/sprite.svg#arr-down"></use>
                                                        </svg></a>
                                                    <div class="accord__content">
                                                        <ul>
                                                            <li>Трёхосный осевой агрегат FOX Intra Drum, усиленное исполнение с толщиной сечения круглой поперечной балки
                                                                148х14 мм, устойчива к скручиванию в сложных дорожных условиях;</li>
                                                            <li>Допустимая нагрузка на каждую ось 9000 кг (технически допустимая);</li>
                                                            <li>Тормозной механизм – барабанного типа;</li>
                                                            <li>Подвеска – FOX INTRA пневматическая усиленная, подушки диаметром 350 мм с возможностью подъёма и опускания,
                                                                амортизаторы усиленные (Maysan);</li>
                                                        </ul>

                                                    </div>
                                                </div><div class="accord__item"><a class="accord__title"> <span>Рама</span>
                                                        <svg>
                                                            <use href="img/icons/sprite.svg#arr-down"></use>
                                                        </svg></a>
                                                    <div class="accord__content">
                                                        <ul>
                                                            <li>Выполнена из двух продольных лонжеронов двутаврового сечения, соединённая между собой поперечными балками из
                                                                высокоуглеродистой низколегированной стали. Рама выполнена в усиленном исполнении и устойчива к скручиванию в
                                                                сложных дорожных и климатических условиях;</li>
                                                            <li>Опорная плита усиленного исполнения с 2-х дюймовым шкворнем седельно-сцепного устройства в соответствии с
                                                                Правилами ЕЭК ООН №55 и расположен согласно ISO 1726;</li>
                                                            <li>Опорное устройство GOS (Турция) грузоподъёмностью 25 тонн (2х 12,5), с управлением справа по ходу
                                                                движения;</li>
                                                            <li>Корзина для перевозки 2-х запасных колёс, съёмное исполнение – болтовое крепление корзины к раме. Держатели
                                                                запасного колеса – 2 шт.</li>
                                                            <li>Боковая противоподкатная защита, выполнена из анодированного алюминия в соответствии с ГОСТ Р 41.73-99 (Правила
                                                                ЕЭК ООН №73) с возможностью подъёма и опускания, с рекламой BRAVER;</li>
                                                            <li>Заднее противоподкатное устройство выполнено в виде профиля в соответствии с ГОСТ 41.58-2001 (Правила ЕЭК ООН
                                                                №58.01) с возможностью подъёма и опускания, с грязезащитным брызговиком с рекламой BRAVER;</li>
                                                            <li>Крепление номерного знака с рамкой под регистрационный номер;</li>
                                                            <li>Кронштейны задних фонарей –складные и установлены на уровне рамы полуприцепа;</li>
                                                            <li>В задней части рамы установлены крюки – 2 шт.;</li>
                                                        </ul>

                                                    </div>
                                                </div><div class="accord__item"><a class="accord__title"> <span>Колеса и шины</span>
                                                        <svg>
                                                            <use href="img/icons/sprite.svg#arr-down"></use>
                                                        </svg></a>
                                                    <div class="accord__content">
                                                        <ul>
                                                            <li>Колесо в сборе на диске Accuride 11,75 х 22,5 ET0 - 7 шт., включая 1 запасное;</li>
                                                            <li>Шины Cordiant TM-1HEAVY 164K размерностью 385/65 R22,5</li>
                                                        </ul>

                                                    </div>
                                                </div><div class="accord__item"><a class="accord__title"> <span>Тормозная система</span>
                                                        <svg>
                                                            <use href="img/icons/sprite.svg#arr-down"></use>
                                                        </svg></a>
                                                    <div class="accord__content">
                                                        <ul>
                                                            <li>Электронная тормозная система пневматического типа WABCO EBS 2S/2M, с функцией RSS – электронная система
                                                                предотвращения опрокидывания изделия</li>
                                                            <li>Информационная система Smartboard (контроль параметров полуприцепа, получение информации о нагрузке на осевые
                                                                агрегаты);</li>
                                                            <li>Датчики ABS установлены на второй оси – 2 шт.</li>
                                                            <li>Стальные ресивера для пневмоподвески и тормозной системы – 2 шт.</li>
                                                            <li>Стояночная тормозная система полуавтоматического типа с пружинными энергоаккумуляторами на второй и третьей
                                                                осях;</li>
                                                            <li>Тормозные камеры мембранного типа;</li>
                                                            <li>Кран ручного управления подъёмом и опусканием шасси с пневмоподвеской;</li>
                                                            <li>Пневматические соединительные головки (питающая и управляющая) по норме ISO 1728 – 2 шт.</li>
                                                            <li>Розетка ABS в соответствии с ISO 7638 – без соединительных кабелей с тягачом;</li>
                                                        </ul>

                                                    </div>
                                                </div><div class="accord__item"><a class="accord__title"> <span>Электрооборудование</span>
                                                        <svg>
                                                            <use href="img/icons/sprite.svg#arr-down"></use>
                                                        </svg></a>
                                                    <div class="accord__content">
                                                        <ul>
                                                            <li>Электрооборудование ASPOECK во взрывобезопасном исполнении с изоляцией разъёмов, номинальное напряжение
                                                                24V;</li>
                                                            <li>Подключение электрооборудования – 2 х 7 (семиполюсные разъёмы 2 шт.) и 1 х 15 (пятнадцатиполюсной разъём 1 шт.)
                                                                - без соединительных кабелей с тягачом;</li>
                                                            <li>Передние габаритные фонари белого свечения – 2 шт.</li>
                                                            <li>Боковые габаритные фонари оранжевого свечения – 8 шт.</li>
                                                            <li>Фонари подсветки номерного знака – 2 шт.;</li>
                                                            <li>Фонари рабочего света сзади (подключены к фонарям заднего хода) – 2 шт.</li>
                                                            <li>Дополнительные фонари рабочего света за опорным устройством (подключены к фонарям заднего хода) – 2 шт.</li>
                                                            <li>Дополнительные фонари рабочего света, установленные на передней стенке (подключены к противотуманным фонарям) –
                                                                2 шт.</li>
                                                            <li>Пятикамерные задние фонари со светоотражателями с металлической защитой и на поворотном кронштейне – 2 шт.</li>
                                                            <li>Контурные задние фонарями в резиновых кожухах – 2 шт.</li>
                                                        </ul>

                                                    </div>
                                                </div><div class="accord__item"><a class="accord__title"> <span>Коники</span>
                                                        <svg>
                                                            <use href="img/icons/sprite.svg#arr-down"></use>
                                                        </svg></a>
                                                    <div class="accord__content">
                                                        <ul>
                                                            <li>Коники разборные, изготовлены из низколегированной, высокопрочной стали STRENX 700MC, имеют усиленную
                                                                конструкцию с допустимой нагрузкой до 8 тонн – 6 шт.</li>
                                                            <li>Внутренняя высота – 2330 мм;</li>
                                                            <li>Противозахватная балка – 3 шт.</li>
                                                        </ul>

                                                    </div>
                                                </div><div class="accord__item"><a class="accord__title"> <span>Крепление груза</span>
                                                        <svg>
                                                            <use href="img/icons/sprite.svg#arr-down"></use>
                                                        </svg></a>
                                                    <div class="accord__content">
                                                        <ul>
                                                            <li>6 утяжек с механизмом в виде лебёдки с фиксацией ремня тросом, закреплённом на болтовом соединении к раме
                                                                полуприцепа с 6-ью стяжными ремнями</li>
                                                        </ul>

                                                    </div>
                                                </div><div class="accord__item"><a class="accord__title"> <span>Передняя стенка</span>
                                                        <svg>
                                                            <use href="img/icons/sprite.svg#arr-down"></use>
                                                        </svg></a>
                                                    <div class="accord__content">
                                                        <ul>
                                                            <li>Передняя стенка перфорированного типа, выполнена из высокопрочной стали;</li>
                                                            <li>Передняя стенка – разборная, соединена прецизионными болтами;</li>
                                                            <li>На передней стенке установлены: крюки – 2 шт., крепление для инструмента – 2 шт., лестница – 1 шт.</li>
                                                        </ul>

                                                    </div>
                                                </div><div class="accord__item"><a class="accord__title"> <span>Пол</span>
                                                        <svg>
                                                            <use href="img/icons/sprite.svg#arr-down"></use>
                                                        </svg></a>
                                                    <div class="accord__content">
                                                        <ul>
                                                            <li>Ламинированная многослойная фанера.</li>
                                                            <li>Пол разборный, для удобства доступа к основным механизмам полуприцепа;</li>
                                                        </ul>

                                                    </div>
                                                </div><div class="accord__item"><a class="accord__title"> <span>Дополнительное оборудование</span>
                                                        <svg>
                                                            <use href="img/icons/sprite.svg#arr-down"></use>
                                                        </svg></a>
                                                    <div class="accord__content">
                                                        <ul>
                                                            <li>Светоотражающая маркировка по периметру полуприцепа, нанесенная в соответствии с ГОСТ Р 41.48-2004 (Правила ЕЭК
                                                                ООН №48), жёлтого цвета;</li>
                                                            <li>Металлический инструментальный ящик в задней части полуприцепа с права по ходу движения – 1 шт.</li>
                                                            <li>Пластиковые противоподкатные упоры колеса (башмак) с держателями – 2 шт.</li>
                                                            <li>Пластиковые полукрылья перед первой и за третьей осями с усиленным креплением к раме;</li>
                                                            <li>Сплошное крыло «квинтет» над всеми колёсами из рифленого алюминия;</li>
                                                            <li>Брызговики антиспрей установлены за задней осью – 2 шт.;</li>
                                                        </ul>

                                                    </div>
                                                </div><div class="accord__item"><a class="accord__title"> <span>Подготовка поверхности к покраске</span>
                                                        <svg>
                                                            <use href="img/icons/sprite.svg#arr-down"></use>
                                                        </svg></a>
                                                    <div class="accord__content">
                                                        <ul>
                                                            <li>Дробеструйная обработка рамы и металлических деталей изделия согласно ГОСТ Р ИСО 8501-1-2014;</li>
                                                        </ul>

                                                    </div>
                                                </div><div class="accord__item"><a class="accord__title"> <span>Покраска</span>
                                                        <svg>
                                                            <use href="img/icons/sprite.svg#arr-down"></use>
                                                        </svg></a>
                                                    <div class="accord__content">
                                                        <ul>
                                                            <li>Изделие перед нанесением эмали обрабатывается антикоррозийным цинкосодержащим грунтом;</li>
                                                            <li>Покраска шасси, навесного оборудования, стоек коников, балок- двухкомпонентной эпоксидно-полиуретановой
                                                                системой, применяемой при окраске изделий в автомобильной промышленности;</li>
                                                            <li>Цвет шасси, передней стенки, противозахватных балок и заднего защитного устройства – серый (RAL 7024);</li>
                                                            <li>Цвет коников – красный (RAL 3020);</li>
                                                            <li>Цвет снования коников – чёрный (RAL 9005);</li>
                                                            <li>Боковое противоподкатное устройство – анодированной алюминиевый профиль серебристого цвета (без покраски) с
                                                                рекламой «Braver»</li>
                                                            <li>Колесные диски – серебристого цвета.</li>
                                                        </ul>

                                                    </div>
                                                </div><div class="accord__item"><a class="accord__title"> <span>Маркировка</span>
                                                        <svg>
                                                            <use href="img/icons/sprite.svg#arr-down"></use>
                                                        </svg></a>
                                                    <div class="accord__content">
                                                        <ul>
                                                            <li>Светоотражающая маркировка по периметру полуприцепа, нанесенная в соответствии с ГОСТ Р 41.48-2004 (Правила ЕЭК
                                                                ООН №48), жёлтого цвета;</li>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end accord-->
                                        </div>
                                        <div class="tabs__tab" id="tab2" style="display: none;">
                                            <div class="page-content">
                                                <p>Доставляем Контейнеровоз Braver BK-424D по&nbsp;всей России. Работаем с&nbsp;проверенными транспортными компаниями
                                                    и&nbsp;автовозами, гарантируем сохранность техники и&nbsp;соблюдение сроков.</p>
                                                <p>Способы доставки:</p>
                                                <ul>
                                                    <li>Автовозом&nbsp;— основной способ для&nbsp;данной модели, техника перевозится в&nbsp;горизонтальном положении</li>
                                                    <li>Своим ходом (перегон) — наш&nbsp;водитель доставит прицеп вашим тягачом до&nbsp;места назначения</li>
                                                    <li>Самовывоз&nbsp;— заберите самостоятельно с&nbsp;завода или&nbsp;нашего склада в&nbsp;Нижнем Новгороде</li>
                                                </ul>
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th>Направление</th>
                                                            <th>Срок доставки</th>
                                                            <th>Стоимость от</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Москва и МО</td>
                                                            <td>1–2 дня</td>
                                                            <td>8 000 ₽</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Санкт-Петербург</td>
                                                            <td>2–3 дня</td>
                                                            <td>12 000 ₽</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Казань, Самара, Уфа</td>
                                                            <td>2–4 дня</td>
                                                            <td>15 000 ₽</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Екатеринбург, Пермь</td>
                                                            <td>3–5 дней</td>
                                                            <td>18 000 ₽</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Новосибирск, Красноярск</td>
                                                            <td>5–7 дней</td>
                                                            <td>25 000 ₽</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Дальний Восток</td>
                                                            <td>10–14 дней</td>
                                                            <td>от 45 000 ₽</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <p>Стоимость указана ориентировочно и зависит от типа и габаритов полуприцепа. Все грузы застрахованы.</p>
                                                <p>Для точного расчёта стоимости доставки в ваш город перейти на страницу:</p>
                                            </div>
                                            <div class="sec-btns">
                                                <button class="btn main-btn js-modal-show" data-target="#delivery-mod">рассчитать доставку</button>
                                                <a href="#" class="btn stroke-btn">Условия доставки</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end tabs-->
                            </div>
                            <div class="product__right">

                                <div class="product__links">
                                    <a class="product__price" href="oformit-zakaz.html">Запросить КП</a>
                                    <a class="product__call" onclick="ym(56782339,'reachGoal','getcall'); return true;" href="tel:88003029003">
                                        <svg>
                                            <use href="img/icons/sprite.svg#icon-whatsapp"></use>
                                        </svg>
                                        <span>8-800-302-9003</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include("partials/geo-map.ejs") %>
                <%- include("partials/faq-product.ejs", {title: "Часто задаваемые вопросы о товаре"}) %>
                <!-- instock-->
                <section class="mb-120 instock">
                    <div class="container">
                        <h2 class="instock__title">Похожие модели</h2>
                        <div class="instock__row">
                            <%- include("partials/instock-item.ejs") %>
                            <%- include("partials/instock-item.ejs") %>
                            <%- include("partials/instock-item.ejs") %>
                        </div>
                    </div>
                </section>
                <!--catalog-->
                <section class="mb-120 catalog">
                    <div class="container">
                        <h2 class="category__title">Другие категории полуприцепов</h2>
                        <div class="catalog__row">
                            <a class="catalog__item" href="sortimentovozy.html">
                                <div class="catalog__img">
                                    <img src="img/new/category-1.png" alt="Полуприцепы сортиментовозы"
                                        title="Полуприцепы сортиментовозы">
                                </div>
                                <p class="catalog__name">Полуприцепы сортиментовозы</p>
                                <p class="catalog__desc">Для транспортировки различного вида сортимента: лесоматериалы, трубопрокатная продукция</p>
                            </a>
                            <a class="catalog__item" href="kontejnerovozy.html">
                                <div class="catalog__img">
                                    <img src="img/new/category-1.png" alt="Полуприцепы контейнеровозы"
                                        title="Полуприцепы контейнеровозы">
                                </div>
                                <p class="catalog__name">Полуприцепы контейнеровозы</p>
                                <p class="catalog__desc">Для транспортировки контейнеров различной модификации от 20 до 45 футов</p>
                            </a>
                            <a class="catalog__item" href="tentovye-polupricepy.html">
                                <div class="catalog__img">
                                    <img src="img/new/category-1.png" alt="Тентовые полуприцепы" title="Тентовые полуприцепы">
                                </div>
                                <p class="catalog__name">Тентовые полуприцепы</p>
                                <p class="catalog__desc">Для транспортировки различных видов груза</p>
                            </a>
                        </div>
                        <div class="sec-bottom"><a class="text-btn" href="#">Смотреть все категории</a></div>
                    </div>
                </section>
            </main>
            <%- include("partials/footer.ejs") %>
        </div>
        <!--delivery-mod-->
        <div class="modal main-mod js-modal" id="delivery-mod">
            <div class="modal__overlay">
                <div class="modal__content">
                    <button type="button" class="close-btn js-modal-close">
                        <svg>
                            <use href="img/icons/sprite.svg#icon-close"></use>
                        </svg>
                    </button>
                    <div class="modal__top">
                        <h2>Рассчитать стоимость доставки</h2>
                    </div>
                    <form class="form">
                        <fieldset>
                            <label class="form-group">
                                <span class="form-label">Тип полуприцепа</span>
                                <input type="text" placeholder="Контейнеровоз" value="Контейнеровоз Braver BК-424D" readonly>
                            </label>
                            <label class="form-group">
                                <span class="form-label">Ваше имя *</span>
                                <input type="text" placeholder="Иван" required>
                            </label>
                            <label class="form-group">
                                <span class="form-label">Телефон *</span>
                                <input class="phone" type="tel" placeholder="+7 (999) 900 00 00" required>
                            </label>
                            <label class="form-group">
                                <span class="form-label">Email (необязательно)</span>
                                <input type="email" placeholder="test@gmail.com">
                            </label>
                        </fieldset>
                        <fieldset>
                            <span class="form-label">Способ доставки</span>
                            <label class="form-radio">
                                <input type="radio" name="delivery_method" value="carrier">
                                <span>Автовозом</span>
                            </label>
                            <label class="form-radio">
                                <input type="radio" name="delivery_method" value="drive" checked>
                                <span>Своим ходом (перегон)</span>
                            </label>
                            <label class="form-radio">
                                <input type="radio" name="delivery_method" value="pickup">
                                <span>Самовывоз</span>
                            </label>
                            <label class="form-radio">
                                <input type="radio" name="delivery_method" value="help">
                                <span>Не знаю, помогите выбрать</span>
                            </label>
                        </fieldset>
                        <fieldset>
                            <span class="form-label">Желаемые сроки доставки</span>
                            <label class="form-radio">
                                <input type="radio" name="delivery_time" value="asap">
                                <span>Как можно скорее</span>
                            </label>
                            <label class="form-radio">
                                <input type="radio" name="delivery_time" value="2weeks" checked>
                                <span>В течение 2 недель</span>
                            </label>
                            <label class="form-radio">
                                <input type="radio" name="delivery_time" value="month">
                                <span>В течение месяца</span>
                            </label>
                            <label class="form-radio">
                                <input type="radio" name="delivery_time" value="date">
                                <span>Точная дата</span>
                                <div class="form-group">
                                    <input type="date" class="date-input">
                                </div>
                            </label>
                        </fieldset>
                        <fieldset>
                            <div class="form-label">Город доставки *</div>
                            <div class="dropdown radio-select" aria-expanded="false">
                                <div class="dropdown__header">
                                    <span>Москва</span>
                                    <svg><use href="img/icons/sprite.svg#arr-down"></use></svg>
                                </div>
                                <div class="dropdown__body">
                                    <div class="custom-scroll dropdown__options">
                                        <label>
                                            <input type="radio" name="delivery_city" checked>
                                            <span>Москва</span>
                                        </label>
                                        <label>
                                            <input type="radio" name="delivery_city">
                                            <span>Тверь</span>
                                        </label>
                                        <label>
                                            <input type="radio" name="delivery_city">
                                            <span>Воронеж</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <label class="form-group">
                            <span class="form-label">Комментарий (необязательно)</span>
                            <textarea placeholder="Дополнительные пожелания"></textarea>
                        </label>
                        <label class="form-checkbox">
                            <input type="checkbox" required>
                            <span>Согласен с <a href="soglashenie-ob-obrabotke-personalnyh-dannyh.html">политикой конфиденциальности</a></span>
                        </label>
                        <button class="btn main-btn" type="submit">РАССЧИТАТЬ СТОИМОСТЬ ДОСТАВКИ</button>
                    </form>
                </div>
            </div>
        </div>
        <%- include("partials/modals.ejs") %>
        <%- include("partials/js.ejs") %>

    </body>
</html>